<% if @collaborator.present? %>
  <% if @collaborator.errors.any? %>
    <% @collaborator.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new collaborator
</h1>


<hr>

<form action="/create_collaborator" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name, @collaborator.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="project_id">
      Project
    </label>

    <%= select_tag(:project_id, options_from_collection_for_select(Project.all, :id, :user_id, @collaborator.project_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create collaborator
  </button>
</form>

<hr>

<a href="/collaborators">
  Go back
</a>
