<h1>
  Add a new collaborator
</h1>


<hr>

<!-- Form collaborator start -->
<form action="/create_collaborator" method="post">
<!-- Form collaborator end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name, @collaborator.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for project_id start -->
  <div class="form-group">
    <label for="project_id">
      Project
    </label>

    <!-- Input for project_id start -->
    <%= select_tag(:project_id, options_from_collection_for_select(Project.all, :id, :user_id, @collaborator.project_id), :class => "form-control") %>
    <!-- Input for project_id end -->
  </div>
  <!-- Label and input for project_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create collaborator
  </button>
</form>

<hr>

<a href="/collaborators">
  Go back
</a>
