<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bugs

    <a data-toggle="collapse" href="#project_bugs_new_form">
      Add bug
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @project.bugs.each do |bug| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/bugs/<%= bug.id %>">
          <%= bug.project_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_bug_from_project/<%= bug.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="project_bugs_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
