<form action="/create_collaborator_from_project" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name, @collaborator.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="project_id" value="<%= @project.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create collaborator
  </button>
</form>
