<!-- Form collaborator start -->
<form action="/create_collaborator_from_project" method="post">
<!-- Form collaborator end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name, @collaborator.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for project_id start -->
  <!-- Input for project_id start -->
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <!-- Input for project_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create collaborator
  </button>
</form>
