<h1>
  Add a new project
</h1>


<hr>

<form action="/create_project" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create project
  </button>
</form>

<hr>

<a href="/projects">
  Go back
</a>
